

#Terraform file

# Terraform files
.terraform/

# Local .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files that are intended to be kept secret
*.tfvars

# Crash log files
.idea
.DS_Store
data/*
/docker-compose.generated.yml

*crash.log
*.log

# Infiscal ignore
.infisical.json

# Environment Variable
.env