

#Terraform file

# Terraform files
.terraform/

# Local .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files that are intended to be kept secret
*.tfvars

# Crash log files
*crash.log

#Multipass modules
node_modules
__pycache__
.ipynb_checkpoints/
*.log
.DS_Store
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock**
commands.txt
.vscode/
hosts_ip.txt
multipass/haproxy_*.cfg
multipass/cloud-init-*.yaml